<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.backend.mapper.AdvertiseStatisticsMapper">

    <select id="selectByAuthor" resultType="com.backend.entity.AdvertiseStatistics">
        SELECT * FROM advertise_platform.advertise_statistics WHERE author = #{author}
    </select>

    <select id="selectClickedCount" resultType="Integer">
        SELECT COUNT(*)
        FROM advertise_platform.advertise_statistics
        WHERE ad_id = #{adId} AND operation_type = 'CLICK'
    </select>

    <select id="selectShowedCount" resultType="Integer">
        SELECT COUNT(*)
        FROM advertise_platform.advertise_statistics
        WHERE ad_id = #{adId} AND operation_type = 'SHOW'
    </select>

</mapper>