@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-prev:focus {
    font-size: inherit;
    left: 20px;
    z-index: 2;
    color: red;
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-next:focus {
    font-size: inherit;
    right: 20px;
    z-index: 2;
    color: red;
}